{
	"rules": {
		"quotes": [
			2,
			"single"
		],
		"semi": "error",
		"max-len": ["error", { "code": 100, "comments": 90, "ignoreStrings": true }]
	},
	"parser": "@typescript-eslint/parser",
	"plugins": ["@typescript-eslint"],
	"extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended", "plugin:@typescript-eslint/eslint-recommended"],
	"root": true
}